# Cython output
*.c
*.so
*.html

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Vim swap files
.*.sw*

# PyCharm files
.idea

# Built components
docs/_build
build/

tests/crestats.txt
